/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Header Styles */

h1{
    margin-top: 0;
    font-weight: bold;
}

h1,
h2,
h3 {
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 20px;
}

h3{
    font-size: 20px;
}

.main-header{
    text-align: center;
    padding: 1em 0;
    background-color: whitesmoke;
}


/* Portfolio Styles */

.portfolio-img {
    max-width: 300px;
}

.container {
    max-width: 1100px;
    padding: 10px;
    margin: 0 auto;
}

.col {
    margin: 10px;
    min-height: 250px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
}

/* Footer Styles */

.contact {
    text-align: center;
    background-color: whitesmoke;
    border-bottom: 1px dotted black;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 2;
}

footer {
    text-align: center;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
}

/* Media Queries */

@media (min-width: 768px) {
    .container {
        display: flex;
        flex-wrap: wrap;
    }
}

